@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap");

body {
	font-family: "Cabin", sans-serif;
	background-color: #758190;
	margin: 0;
	padding: 0;
}

#tentacles {
	width: 50px;
}

.header {
	display: flex;
	align-items: center;
	background-color: lightblue;
	padding: 1%;
	margin: 0 -10px -10px;
}

.header-text {
	margin-left: 10px;
}

.stats-container {
	display: flex;
	justify-content: space-around;
	margin: 20px 0;
}

.stats-card {
	background-color: #a8b0bc;
	border-radius: 7px;
	padding: 1%;
	margin: 1%;
	text-align: center;
	flex: 1;
}

.stats-container:hover {
	cursor: pointer;
	box-shadow: 0 0 30px lightblue;
}

#num-contributions,
#total-raised,
#num-games {
	font-size: 50px;
	margin: 0;
}

#games-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 20px;
}

.game-img {
	width: 100%;
	border-radius: 5px;
	box-shadow: 0 0 10px #ffffff;
}

.game-card {
	background-color: #ffffff;
	padding: 1%;
	margin: 1%;
	width: 300px;
	text-align: center;
	border-radius: 7px;
}

.game-card:hover {
	cursor: pointer;
	box-shadow: 0 0 30px lightblue;
}

#button-container {
	text-align: center;
	margin: 20px 0;
}

button {
	font-family: "Cabin", sans-serif;
	border: none;
	padding: 10px 20px;
	margin: 5px;
	border-radius: 7px;
	cursor: pointer;
	background-color: #a8b0bc;
}

button:hover {
	background-color: #8f98a5;
}

#search-container {
	text-align: center;
	margin-top: 20px;
}

#search-input {
	padding: 5px 10px;
	font-size: 16px;
	border-radius: 5px;
	border: none;
	width: 50%;
}